*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}

#header{
    height :46.5px;
    background-color: black;
}
#nav{

}
#nav,.subnav{
    list-style-type: none;
}
#nav >li{
    display: inline-block;
}
#nav li{
 
    position: relative;
    
}
#nav >li >a{
    color: white;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 24px;
    display: block;
   font-size: 15px;
}
#nav li:hover .subnav{
    display: block;
}
#nav >li:hover >a,#nav .subnav li:hover{
    color: black ;
    background-color: #ccc ;
}

#nav .subnav a{
    color: #000;
    padding: 0px 12px;
    line-height: 38px;
}

#nav .subnav {
    display:none;
    top: 100%;
    left: 0;
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#slider{
    /* min-height: 500px;
    background-color: #333; */
}

#content{

}

#footer{

}
